# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.PanteonTrialProject.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\user\Documents\Unity Projects\PanteonTrialProject\.idea\.idea.PanteonTrialProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
